/* Badges */

.px_badge{
  border-radius: 7px;
  padding:0.35rem 1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background: #ededed;
  color: #474747;
}
.px_badge_t1{
  border-radius: 45px;
  padding:0.25rem 1rem;
}
.badge_gray_soft{
  background: #ededed;
  color: #474747;
}
.badge_success_soft{
  background: #dffbef;
  color: #67bd78;
}
.badge_danger_soft{
  background: #f9e1e2;
  color: #e74432;
}
.badge_warning_soft{
  background: #fdf2d5;
  color: #f7b82e;
}
.badge_primary_soft{
  background: #ecf5ff;
  color: #0085ff;
}

/* Background colors */
.bg_master_main{
  background-color: var(--mastercolor);
}
.bg_master_color1{
  background-color: #e1edf5;
}
.bg_master1{ 
  background: var(--mastercolor1);
}
.bg_master_light{
  background: var(--mastercolorlight);
}
.bg_master2{
  background-color: var(--mastercolor2);
}
.bg_master2_d1{
  background-color: var(--mastercolor2_d1);
}
.bg_master2_d2{
  background-color: var(--mastercolor2_d2);
}
.bg_master_lite{
  background-color: var(--mastercolorlight2);
}
.bg_yellow{
  background-color: var(--yellow);
}
.bg_black{
  background-color: var(--black);
}
.bg_black{
  background-color: var(--black);
}
.bg_light{
  background-color: var(--light);
}
.bg_light2{
  background-color: var(--light2);
}
.bg_gray{
  background-color: var(--gray);
}
.bg_gray1{
  background-color: var(--gray1);
}
.bg_gray6{
  background-color: var(--gray6);
}
.bg_dark75p{
  background-color: var(--dark75p);
}
.bg_light75p{
  background-color: var(--light75p);
}
.bg_light80{
  background-color: var(--light80);
}
.bg_voilet{
  background-color: var(--voilet);
}
.bg_green3 {
  background-color: var(--green3);
}
.new_master_color{
  background: var(--new_master_color);
}
.new_master_color2{
  background: var(--new_master_color2);
}
.new_master1{
  background: var(--new_master1);
}
.linear_color{
 background: var(--linearColor);
}
.bg_light80p{
background: var(--light80p);
}
.bg_light1{
  background: var(--light1);
}
.bg_violet {
  background-color: var(--violet);
}
.bg_red1 {
  background-color: var(--red1);
}
.bg_light4{
  background-color: var(--light4);
}

.bg_light5{
  background-color: var(--light5);
}

.bg_pinkLight{
  background-color: var(--pinkLight);
}
.bg_blueLight {
  background-color: var(--blueLight);
}
.bg_light6{
  background-color: var(--light6);
}

.bg_light7{
  background-color: var(--light8);
}

.bg_light9{
  background-color: var(--light9);
}
.bg_light10{
  background-color: var(--light10);
}
.bg_light11{
  background-color: var(--light11);
}

.bg_light13{
  background-color: var(--light13);
}

.bg_light15{
  background-color: var(--light15);
}
.bg_violetLight{
  background-color: var(--violetLight2);
}
.bg_light16{
  background-color: var(--light16);
}
.new_text_color{
  color: var(--new_text_color);
}
.bg_light19{
  background-color: var(--light19);
}
.bg_light22{
  background-color: var(--light22);
}
.bg_light23{
  background-color: var(--light23);
}
.bg_light24 {
  background-color: var(--light24);
}
.bg_light17{
  background-color: var(--light17);
}
.bg_light18{
  background-color: var(--light18);
}
.bg_light21{
  background-color: var(--light21);
}

.bg_light25{
  background-color: var(--light25);
}
.bg_light26{
  background-color: var(--light26);
}
.violetLight{
  background-color: var(--violetLight);
}

.yellowLight{
  background-color: var(--yellowLight);
}

.bg_greenLight75p{
  background-color: var(--greenLight75p);
}

.bg_lightRose75p{
  background-color: var(--lightRose75p);
}

.bg_light75p{
  background-color: var(--yellowLight75p);
}
.bg_textGray3{
  background-color: var(--textGray3);
}

.bg_green2{
  background-color: var(--green2);
}

.bg_violetLight{
  background-color: var(--voiletLight);
}

.lightblack{
  background-color: var(--lightblack);
}

.bg_blue{
  background-color: var(--blue);
}

.bg_lightYellow{
  background-color: var(--lightYellow);
}

.bg_greenLight{
  background-color: var(--greenLight);
}

.bg_white_50{
  background-color: rgba(255, 255, 255, 0.5);
}

.bg_white_20 {
  background-color: rgb(255 255 255 / 90%);
}

.bg_chart_primary{background-color: var(--chart-primary);}
.bg_chart_success{ background-color: var(--chart-success);}
.bg_chart_danger{ background-color: var(--chart-danger);}
.bg_chart_warning{ background-color: var(--chart-warning);}
.bg_chart_pink{background-color: var(--chart-pink);}
.bg_chart_orange{background-color: var(--chart-orange);}
.bg_chart_decline{background-color: var(--chart-decline);}
/* border colors */
.bd_gray{
  border-color: var(--gray)!important;
}
.bd_gray1{
  border-color: var(--gray1)!important;
}
.bd_gray3{
  border-color: var(--gray3)!important;
}
.bd_master{
  border-color: var(--mastercolor)!important;
}
.bd_master2_d1{
  border-color: var(--mastercolor2_d1)!important;
}
.bd_white{
  border-color: var(--white)!important;
}
.bd_light3{
  border-color: var(--light3);
}

.bd_light14{
  border-color: var(--light14);
}

.bd_light12{
  border-color:var(--light12) !important;
}

.bd_light7{
  border-color: var(--light7) !important;
}
.bd_black{
  border-color: var(--black)!important;
}

.bd_light11{
  border-color: var(--light11) !important;
}
.bd_light20{
  border-color: var(--light20) !important;
}

.bd_violetLight3{
  border-color: var(--violetLight3);
}

.bd_blue{
  border-color: var(--blue) !important;
}

/* border style */

.border1{
  border: 2px solid;
}
.border3{
  border: 3px solid;
}
.border4 {
  border: 4px solid;
}
.border5{
  border: 5px solid;
}
.bd_dashed{
  border-bottom: 2px dashed var(--gray3);
}
.bd_dashed1 {
  border-bottom: 1px dashed var(--gray3);
}
.border2pxBottom {
 border-bottom: 2px solid;
}

.border2pxTop {
  border-top: 2px solid;
}
.px_bd_primary{border-color: var(--chart-primary)!important;}
.px_bd_warning{border-color: var(--chart-warning)!important;}
.px_bd_success{border-color: var(--chart-success)!important;}
.px_bd_danger{border-color: var(--chart-danger) !important;}
.px_bd_pink{border-color: var(--chart-pink) !important;}
.px_bd_orange{border-color: var(--chart-orange) !important;}
.px_bd_decline{border-color: var(--chart-decline) !important;}

.px_text_primary{color: var(--chart-primary);}
.px_text_warning{color: var(--chart-warning);}
.px_text_success{color: var(--chart-success);}
.px_text_danger{color: var(--chart-danger);}
.px_text_pink{color: var(--chart-pink);}
.px_text_orange{color: var(--chart-orange);}
.px_text_decline{color: var(--chart-decline);}

.px_bg_primary{background-color: var(--chart-primary);}
.px_bg_warning{background-color: var(--chart-warning);}
.px_bg_success{background-color: var(--chart-success);}
.px_bg_danger{background-color: var(--chart-danger);}
.px_bg_pink{background-color: var(--chart-pink);}
.px_bg_orange{background-color: var(--chart-orange);}
.px_bg_decline{background-color: var(--chart-decline);}



.border_normal{
  border:1px solid var(--gray7)!important;
}
.border_10x_white{
  border: 10px solid var(--white);
}
/* text colors */
.text_master{
  color:var(--mastercolor);
}

.text_master1{
  color: var(--mastercolor1);
}

.text_master_light{
  color: var(--mastercolorlight2);
  }

.text_master2{
  color:var(--mastercolor2);
}
.text_m1{
  color: var(--colorm1);
}
.text_m2{
  color: var(--colorm2);
}

.text_secondary{
  color: var(--color2);
}

.head-grey{
  color: var(--textGray);
}



.text_gray{
  color:var(--gray);
}
.text_Dark_gray2{
  color: var(--darkGray2);
}
.text_gray_1{
  color: var(--textGray1);
}
.text_gray_2{
  color: var(--textGray2);
}
.text_gray1{
  color:var(--gray1);
}
.text_gray2{
  color:var(--gray2);
}
.text_gray4{
  color:var(--gray4);
}
.text_gray9{
  color:var(--gray9);
}
.text_gray15 {
  color: var(--gray15);
}
.text_dark_gray{
  color:var(--darkGray);
}
.text_dark_lite{
  color:var(--colorm3);
}
.text_gray12 {
  color: var(--gray12);
}
.text_green3 {
  color: var(--green3) !important;
}
.text_light75p{
  color:var(--light75p);
}
.text_dark85p {
  color: var(--dark85p);
}

.text_light13{
  color: var(--light13);
}

.text_Black{
  color: var(--black) !important;
}
.textGray4{
  color: var(--textGray4);
}

.textGray5{
  color: var(--textGray5);
}

.text_blue{
  color: var(--blue);
}

.text_White{
  color:var(--white);
}

.text_green1{
  color: var(--green1);
}

.text_light18{
  color: var(--light18);
}

.blackgraytext{
  color: var(--blackgray);
}

.text-justify{
  text-align: justify;
}

.text_gray6{
  color: var(--textGray6);
}

.text_light25{
  color: var(--light25);
}

.text_uppercase{
  text-transform: uppercase;
}

.text_decoration_underline{
  text-decoration: underline;
}

/* Font family */
.font_st01{
  font-family: var(--font-family1);
}
.font_st03{
  font-family: var(--font-family3);
}

/* line height */
.line_height_08{
  line-height: 0.8;
}
.line_height1_5{
  line-height: 1.5;
}
.line_height1_7{
  line-height: 1.7;
}
.line_height1_3{
  line-height: 1.3;
}

.line_height2{
  line-height: 2;
}

/* Font sizes */
.font_8{
  font-size: 8px;
}
.font_10{
  font-size: 10px;
}
.font_11{
  font-size: 11px;
}
.font_12{
  font-size: 12px;
}
.font_13{
  font-size: 13px;
}
.font_14{
  font-size: 14px;
}
.font_15{
  font-size: 15px;
}
.font_16{
  font-size: 16px;
}
.font_17{
  font-size: 17px;
}
.font_18{
  font-size: 18px;
}
.font_19{
  font-size: 19px;
}
.font_20{
  font-size: 20px;
}
.font_21{
  font-size: 21px !important;
}
.font_22{
  font-size: 22px;
}
.font_23{
  font-size: 23px;
}
.font_24{
  font-size: 24px;
}
.font_25{
  font-size: 25px !important;
}
.font_26 {
  font-size: 26px !important;
}
.font_30{
  font-size: 30px;
}

.font_33{
  font-size: 33px;
}

.font_36{
  font-size: 36px;
}
.font_37{
  font-size: 37px;
}
.font_40{
  font-size: 40px;
}
.font_45{
  font-size: 45px;
}
.font_50{
  font-size: 50px;
}
.font_51{
  font-size: 51px;
}
.font_60 {
  font-size: 60px;
}
.font_100{
  font-size: 100px;
}
.font_130{
  font-size: 130px;
}
.Title_1{
  font-size: 37px;
}
.Title_2{
  font-size: 15px;
}
/* Font weights */
.font_200{
  font-weight: 200;
}

.font_300{
  font-weight: 300;
}
.font_400{
  font-weight: 400;
}
.font_500{
  font-weight: 500;
}
.font_600{
  font-weight: 600;
}
.font_700 {
  font-weight: 700;
}
.font_800 {
  font-weight: 800;
}
.fw_400{
  font-weight: 400;
}
.fw_500{
  font-weight: 500;
}
.fw_600{
  font-weight: 600;
}
.fw_normal{
  font-weight: var(--fw_normal);
}
.fw_medium{
  font-weight: var(--fw_medium);
}
.fw_bold{
  font-weight: var(--fw_bold);
}

/* //transform */
.rotate_45deg{
  transform: rotate(45deg);
}
.rotate_Min_45deg {
  transform: rotate(-45deg);
}

.transform_translateX_10x{
  transform: translateX(-10px);
}
.transform_translateX_20x {
  transform: translateX(-20px);
}
.transform_translateX_30x {
  transform: translateX(-30px);
}

/* //flex */
.justify-content-evenly{
  justify-content: space-evenly;
}
/* padding */

.py_100x{
  padding: 100px 0;
}

.py_70x{
  padding-top: 70px;
  padding-bottom: 70px;
}

.py_50x{
  padding-top: 50px;
  padding-bottom: 50px;
}

.py_35x{
  padding-top: 35px;
  padding-bottom: 35px;
}
.p_0_7x{
  padding: 0 7px!important;
}
.py_1x{
  padding-top: 1px;
  padding-bottom: 1px;
}
.py_10x{
  padding-top: 10px;
  padding-bottom: 10px;
}
.py_2x{
  padding-top: 2px;
  padding-bottom: 2px;
}
.py_10x{
  padding-top:10px;
  padding-bottom: 10px;
}
.py_12x {
  padding-top: 12px;
  padding-bottom: 12px;
}
.pt_1x{
  padding-top: 1px;
}
.pb_2x{
  padding-bottom: 2px;
}
.pt_25x{
  padding-top: 25px;
}
.pl_30x{
  padding-left: 30px;
}
/* Margins */
.mb_2x{
  margin-bottom: 2px;
}
.mt_3x{
  margin-top: 3px;
}

/* Zindex */
.zi_1{
  z-index: 1;
}
.zi_10{
  z-index: 10;
}
.zi_20{
  z-index: 20;
}
.zi_Min1{
  z-index: -1;
}
/* border radius */
.br_0{border-radius: 0px !important;}
.br_5{border-radius: 5px !important;}
.br_7{border-radius: 7px !important;}
.br_8{border-radius: 8px !important;}
.br_10{border-radius: 10px !important;}
.br_12{border-radius: 12px !important;}
.br_15{border-radius: 15px !important;}
.br_18{border-radius: 18px !important;}
.br_20{border-radius: 20px !important;}
.br_25{border-radius: 25px !important;}
.br_30 {
  border-radius: 30px !important;
}
.br_50 { border-radius: 50% !important;}
.br_50x { border-radius: 50rem !important;}
.br_top_left_50x{border-top-left-radius: 50px !important; }
.br_top_right_50x{border-top-right-radius: 50px !important; }
.br_bottom_right_0x {
  border-bottom-right-radius: 0px !important;
}
/* gap */
.gap_1{gap: 1px !important;}
.gap_2{gap: 2px !important;}
.gap_3{gap: 3px !important;}
.gap_4{gap: 4px !important;}
.gap_8 {gap: 8px !important;}
.gap_10 {gap: 10px !important;}
.gap_14{gap: 14px !important;}
.gap_20 {
  gap: 20px !important;
}
.gap_35 {
  gap: 35px !important;
}
.gap_40 {
  gap:40px !important;
}
.cursor-pointer{
  cursor: pointer;
}
.left_0{  left: 0;}
.top_0{  top: 0;}
.top_n15x {
  top: -15px;
}
.top_n88x {
  top: -88px;
}
/* Height */
.h_100vh{
  height: 100vh;
}
.h_2x{
  height: 2px;
}
.h_3x {
  height: 3px;
}
.h_4x{
  height: 4px;
}
.h_25x {
  height: 25px !important; 
}
.h_34x{
  height: 34px;
}
.h_30x{
  height: 30px !important;
}
.h_35x{
  height: 35px;
}
.h_40x{
  height: 40px;
}
.h_42x{
  height: 42px;
}
.h_45x{
  height: 45px;
}
.h_50x{
  height: 50px !important;
}
.h_55x{
  height: 55px;
}
.h_60x{
  height: 60px;
}
.h_70x {
  height: 70px;
}
.h_71x{
  height: 71px;
}
.h_75x {
  height: 75px;
}
.h_80x{
  height: 80px;
}
.h_85x{
  height: 85px;
}
.h_98x{
  height: 98px;
}
.h_90x{
  height: 90px;
}
.h_100x{
  height: 100px;
}
.h_110x {
  height: 110px;
}
.h_114x{
  height: 114px;
}
.h_120x{
  height: 120px;
}
.h_135x{
  height: 135px;
}
.h_170x{
  height: 170px;
}
.h_180x{
  height: 180px;
}
.h_140x{
  height: 140px;
}
.h_150x{
  height: 150px;
}
.h_200x{
  height: 200px;
}
.h_250x{
  height: 250px;
}
.h_260x{
  height: 260px;
}
.h_235x{
  height: 235px;
}
.h_300x{
  height: 300px;
}
.h_315x{
  height: 315px;
}
.h_320x {
  height: 320px;
}
.h_330x {
  height: 330px !important;
}
.h_350x {
  height: 350px;
}
.h_360x {
  height: 360px;
}
.h_380x {
  height: 380px;
}
.h_400x{
  height: 400px !important;
}
.h_450x{
  height: 450px !important;
}
.h_500x{
  height: 500px !important;
}
.h_600x {
  height: 600px;
}
.h_26x{
  height: 26px;
}
.h_27x{
  height: 27px;
}
.h_21x{
  height: 21px;
}
.h_23x{
  height: 23px;
}
.h_30x{
  height: 30px;
}
.h_20x{
  height: 20px !important;
}
.h_15x{
  height: 15px;
}
.h_10x{
  height: 10px;
}
.min_h_30x{
  min-height: 30px;
}
.min_h_50x{
  min-height: 50px;
}
.min_h_52x {
  min-height: 52px;
}
.min_h_80x {
  min-height: 80px;
}
.min_h_84x {
  min-height: 84px;
}
.min_h_94x {
  min-height: 94px;
}
.min_h_100px {
  min-height: 100px;
}
.min_h_127px {
  min-height: 127px;
}
.min_h_135px{
  min-height: 135px;
}
.min_h_140px {
  min-height: 140px;
}
.min_h_145px{
  min-height: 145px;
}
.min_h_150px {
  min-height: 150px;
}
.min_h_187px {
  min-height: 187px;
}
.min_h_200x {
  min-height: 200px;
}
.min_h_250x{
  min-height: 250px;
}
.min_h_275x{
  min-height: 275px;
}
.min_h_335x{
  min-height: 335px;
}
.min_h_380x {
  min-height: 380px;
}

.max_h_115x {
  max-height: 115px;
}

.h_fit_content{
  height: fit-content;
}
/* Width */
.min_w_80x{
  min-width: 80px!important;
}
.min_w_110x{
  min-width: 110px!important;
}
.min_w_220x{
  min-width: 220px;
}
.min_w_225x{
  min-width: 225px;
}
.min_w_250x{
  min-width: 250px!important;
}
.min_w_400x{
  min-width: 35rem;
}
.min_w_480x {
  min-width: 480px;
}
.min_w_560x {
  min-width: 560px;
}
.max_w_200x{
  max-width: 200px;
}
.max_w_220x{
  max-width: 250px;
}
.max_w_250x{
  max-width: 220px;
}
.max_w_260x{
  max-width: 260px;
}
.max_w_300x{
  max-width: 300px;
}
.max_w_350x{
  max-width: 350px;
}
.max_w_810x{
  max-width: 810px;
}
.max_w_450x {
  max-width: 450px;
}
.w_100x{
  width: 100px;
}
.w_180x{
  width: 180px;
}
.w_120x{
  width: 120px;
}
.w_115x {
  width: 115px;
}
.w_90x{
  width: 90px;
}
.w_80x{
  width: 80px;
}
.w_71x{
  width: 71px;
}
.w_85x{
  width: 85px;
}
.w_15x{
  width: 15px;
}
.w_1x {
  width: 1px;
}
.w_2x {
  width: 2px;
}
.w_10x{
  width: 10px;
}
.w_26x{
  width: 26px;
}
.w_24x{
  width: 24px;
}
.w_20x{
  width: 20px !important;
}
.w_25x {
  width: 25px !important;
}
.w_42x{
  width: 42px;
}
.w_45x {
  width: 45px;
}
.w_50x{
  width: 50px;
}
.w_54x{
  width: 54px;
}
.w_55x{
  width: 55px;
}
.w_60x{
  width: 60px !important;
}
.w_70x{
  width: 70px;
}
.w_40x{
  width: 40px !important;
}
.w_30x{
  width: 30px;
}
.w_35x{
  width: 35px;
}
.w_45x{
  width: 45px;
}
.w_30px{
  width: 30px;
}
.w70x{
  width: 70%;
}
.w_21x{
  width: 21px;
}
.w_260x{
  width: 260px;
}
.w_300x {
  width: 300px;
}
.w_80_xx{
  width: 80%;
}

.w_90_xx {
  width: 90%;
}

.width-fit-content{
  width: fit-content;
}

.word_break_all{
  word-break: break-all;
}
.word_break{
  word-break:break-word;
}
.object_fit_cover{
  object-fit: cover !important;
}
.object_fit_contain{
  object-fit: contain;
}

.box_shadow{
  box-shadow: rgba(26, 130, 226, 0.10) 15px 15px 29px 25px;
}
.box_shadow2{
  box-shadow: 0px -10px 20px 0px rgba(26, 130, 226, 0.05), 0px 10px 20px 0px rgba(26, 130, 226, 0.05);

}
.box_shadow3{
  box-shadow: 0px 4px 20px 0px #00000026;
}

.box_shadow4{
    box-shadow: 10px 16px 19px 0px rgba(0, 0, 0, 0.13);
}


.custom_scroll1::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.custom_scroll1::-webkit-scrollbar-track {
  border-radius: 10px;
  background:var(--mastercolor);
}
.custom_scroll1::-webkit-scrollbar-thumb {
  background: var(--mastercolor1); 
  border-radius: 10px;
}
.custom_scroll1::-webkit-scrollbar-thumb:hover {
  background: var(--mastercolor2_dk1); 
}

/* Shadow */
.shadow_sm1{
  -webkit-box-shadow: 0 0.05rem 0.5rem rgba(0,0,0,0.1)!important;
  box-shadow: 0 0.05rem 0.5rem rgba(0,0,0,0.1)!important;
}

.shadow_sm2{
  -webkit-box-shadow: 0 0 15px 0px rgb(0 0 0 / 14%)!important;
  box-shadow: 0 0 15px 0px rgb(0 0 0 / 14%)!important;
}

.shadow_sm3{
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.25);

}
.shadow_sm4{
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}
.shadow_sm5{
  box-shadow: 0px 4px 20px 0px rgba(26, 130, 226, 0.05);
}
.shadow_sm6{
   box-shadow: -5px -5px 250px 0px rgba(255, 255, 255, 0.02) inset;;
}
.shadow_sm7{
  box-shadow: 0px 4px 20px 0px rgba(0, 148, 254, 0.06);
}
.shadow_sm8 {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
}
.shadow_sm9 {
  box-shadow: 0px 2.559999942779541px 10px 0px rgba(0, 0, 0, 0.08);
}
.shadow_sm10 {
  box-shadow: 10px 0px 20px 0px #0000000D;
}
.shadow_sm11 { 
  box-shadow: 0px 2px 14px 4px #0000001A;
}
.shadow_sm12 {
  box-shadow: 0px 18px 20px 4px rgb(0 0 0 / 5%);
}
.shadow_sm13 {
  box-shadow: -4px -3px 69.7px 0px #0125390F;

}
.shadow_sm14 {
  box-shadow: 4px 4px 12px 0px #BABABA1A;;

}

.shadow_sm15{
  box-shadow: 0px 5px 16px 0px #080F340F;
}

.shadow_sm_16{
  box-shadow: 0px 30px 50px 0px rgba(199, 199, 199, 0.2);
}

.shadow_sm_17{
  box-shadow: 0px 16px 15px 4px rgba(185, 185, 185, 0.12);
}

.backdrop_filter_blur_21{
  backdrop-filter: blur(21px);
}

.shadow_
/* flex */

/* Button */


.width_fit_content{
  width: fit-content;
}

.position_center_absolute{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.px_btn1{
  width: fit-content;
  padding: 14px 50px;
}
.px_btn{
  padding: 6px 15px;
  font-size: 14px;
  min-width: 50px;
}

.px_btn_sm{
  padding: 2px 10px;
  font-size: 12px;
  min-width: unset;
}
.btn-disable {
  opacity: 0.4!important;
  pointer-events: none;
  filter: grayscale(1);
}
.btn:disabled{
  opacity: 0.5!important;
  pointer-events: none;
}
.btn-master{
  background: var(--black);
  color: #fff;
  border: 1px solid var(--black);
  border-radius: 7px;
}
.btn-master:focus, .btn-master:hover{
  background: var(--black);
  color: #fff;
  text-decoration: none;
}
.btn-master2{
  background: var(--mastercolor2);
  color: #fff;
  border: 1px solid var(--mastercolor2);
}
.btn-master2:focus, .btn-master2:hover{
  background: var(--mastercolor2);
  color: #fff;
  -webkit-box-shadow: 0 0 0 2px var(--mastercolor25p2);
  box-shadow: 0 0 0 2px var(--mastercolor25p2);
}


.btn-master-line{
  background: unset;
  color: var(--mastercolor);
  border: 1px solid var(--mastercolor);
}
.btn-master-line:focus, .btn-master-line:hover{
  background: unset;
  color: var(--mastercolor);
}

.btn-master2-line{
  background: unset;
  color: var(--mastercolor2);
  border: 1px solid var(--mastercolor2);
}
.btn-master2-line:focus, .btn-master2-line:hover{
  background: unset;
  color: var(--mastercolor2);
  -webkit-box-shadow: 0 0 0 2px var(--mastercolor25p2);
  box-shadow: 0 0 0 2px var(--mastercolor25p2);
}

.btn-t1{
  border: 1px solid var(--gray3);
  color: var(--black);
  background: unset;
}
.btn-t1:focus, .btn-t1:hover{
  background: unset;
  color: var(--mastercolor);
  border: 1px solid var(--mastercolor);
  -webkit-box-shadow: 0 0 0 2px var(--mastercolor25p);
  box-shadow: 0 0 0 2px var(--mastercolor25p);
}
.btn-t1.active{
  background: unset;
  color: var(--mastercolor);
  border: 1px solid var(--mastercolor);
}
.btn-t2{
  border: 1px solid var(--white);
  background:var(--white);
}
.btn-t2:focus, .btn-t2:hover{
  background: var(--white);
  border: 1px solid var(--white);
}
.btn-t3{
  color: white;
  border: 2px solid var(--white);
  background: transparent;
}
.btn-t3:focus, .btn-t3:hover{
  color: white;
}
.white_box{
  background-color: #fff;
  border-radius: .25rem;
  -webkit-box-shadow: 0 1rem 2rem rgba(0,0,0,.07);
  box-shadow: 0 1rem 2rem rgba(0,0,0,.07);
}
.form-check-input:checked{
  background-color: var(--mastercolor);
    border-color:  var(--mastercolor);
}
.form-check-input:focus {
  -webkit-box-shadow: 0 0 0 0.15rem var(--mastercolor25p);
  box-shadow: 0 0 0 0.15rem var(--mastercolor25p);
}

.icon_btn_white_master{
  background-color: var(--white);
  color: var(--mastercolor);
  cursor: pointer;
}
.icon_btn_white_master:focus{
  -webkit-box-shadow: unset;
  box-shadow: unset;
}
.icon_btn_white_master:hover{
  opacity: 0.7;
}
.icon_btn_white_master.active{
  background-color: var(--mastercolor);
  color: var(--white);
}
.icon_btn_white_master.active:hover{
  opacity: 1;
}
.icon_btn_white_master:disabled{
  pointer-events: none;
  opacity: 0.5;
}
.icon_btn_white_master:disabled:hover{
  opacity: 0.7;
}
.icon_btn_white_master.disabled{
  pointer-events: none;
  opacity: 0.5;
}
.icon_btn_white_master.disabled:hover{
  opacity: 0.7;
}
.px_hover_1{
  transition: 0.1s ease-in;
  -webkit-transition: 0.1s ease-in;
  -moz-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  -ms-transition: 0.1s ease-in;
}
.px_hover_1:hover{
  opacity: 0.6;
}
.line_control_1 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


.tab_btn{
  background: var(--light1);
  color: var(--gray4);
  border: 1px solid var(--gray);
}
.tab_btn:focus, .tab_btn:hover{
  color: var(--black);
  -webkit-box-shadow: unset;
  box-shadow: unset;
}
.tab_btn.active{
  color: var(--black);
  font-weight: 600;
}
.tab_btn.tab_success.active{
  border: 1px solid var(--green1);
}
.tab_btn.tab_primary.active{
  border: 1px solid var(--bs-cyan);
}
.tab_btn.tab_warning.active{
  border: 1px solid var(--bs-yellow);
}
.tab_btn.tab_soft_success.active{
  border: 1px solid var(--green2);
}


/* Hide number input arrows */
input.hide_arrows::-webkit-outer-spin-button,
input.hide_arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number].hide_arrows {
  -moz-appearance: textfield;
}

.hover{
  transition: 0.1s ease-in;
  -webkit-transition: 0.1s ease-in;
  -moz-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  -ms-transition: 0.1s ease-in;
}
.hover:hover{
  opacity: 0.6!important;
}

.circle_27x{
  width: 27px;
  height: 27px;
}


/* Custom Alert */
.px_alert {
  position: fixed;
  width: 100%;
  left: 0;
  height: 100%;
  background: rgb(0 0 0 / 50%);
  z-index: 10;
}
.alert_md .px_alert_body{
  max-width: 500px;
}
.alert_lg .px_alert_body{
  max-width: 750px;
}
.alert_xl .px_alert_body{
  max-width: 1000px;
}
.alert_fluid .px_alert_body{
  max-width: 100%;
}
.alert-white{
  background-color: #fff;
}

.direction{
  direction: rtl;
}

.uni_code{
  unicode-bidi: bidi-override
}

/* padding */

.py_8{
  padding: 8px 0;
}
.py_10 {
  padding: 10px 0;
}
.pt_2x{
  padding-top: 2px;
}

/* responsive */

@media (min-width:990px){
  .mt_65x {
      margin-top: 65px;
    }
  
    .mt_105x {
      margin-top: 105px;
    }
}

@media screen and (max-width: 531px){
  .py_50x_sm{
    padding: 50px 0;
  }
  .py_25x_sm{
    padding: 25px 0;
  }
  .gap_sm_5x{
    gap: 5px !important;
  }
  .font_sm_15x{
    font-size: 15px !important;
  }
  .h_sm_100xx {
    height: 100% !important;
  }
}

@media screen and (max-width: 990px){
 .border_lg_0{
  border: none !important;
 }
 .min_w_400x{
  min-width: 10rem !important;
 }
 .min_md_h_100xx{
  min-height: 100% !important;
 }
 .h_lg_100xx{
  height: 100% !important;
 }
 .h_lg_150x{
  height: 150px !important;
 }
 .object_fit_lg_contain{
  object-fit: contain !important;
 }
}
@media screen and (max-width: 768px) {
  .border_md_0 {
    border: none !important;
  }
}
@media screen and (max-width: 550px){
  .border_lg_0{
   border: none !important;
  }
  .min_w_400x{
   min-width: 5rem !important;
  }
 }